PORT=3003
AUTH_SERVICE_URL=http://localhost:8080
COLLAB_DATABASE_URL=postgresql://postgres:***@localhost:5432/grant_db?schema=public
REVIEW_DATABASE_URL=postgresql://postgres:***@localhost:5432/review_db?schema=public
PROJECT_DATABASE_URL=postgresql://postgres:***@localhost:5432/project_db?schema=public
